.company-logo {
    width: 100px;
    height: 100px;
    border-radius: 5px;
}
.company-logo-invoice {
    width: 150px;
    height: 150px;
    border-radius: 5px;
}
.simple-invoice{
    color: rgb(247, 171, 73);
    padding-bottom: 15px;
    border-bottom: 2px solid rgb(255, 183, 89);
}
table th {
    background-color: rgb(255, 232, 201);
}