<div class="main-div"
  [style.background-image]="mainBackgroundImage?'url(' + adminService.fileUrl + mainBackgroundImage + ')':''">

  <div class="card">
    <div class="p-4 p-sm-5">
      <!-- Logo -->
      <div class="d-flex justify-content-center align-items-center pb-2 mb-4">
        <div class="logo-div">
          <img src="assets/achieve-logo.png" alt="">
        </div>
      </div>
      <!-- / Logo -->
      <h5 class="text-center mb-4">
        <strong>{{'ForgotPassword_Page.ACHIEVE_ORDER_MANAGEMENT_SYSTEM' | translate}}</strong>
      </h5>

      <div dir="ltr" class="d-flex justify-content-between align-items-center mx-3 mb-3">
        <button class="btn" [ngClass]="translationService.isRTL ? 'btn-secondary' : 'btn-dark'"
          (click)="translationService.changeLang('en')">
          English
        </button>
        <button class="btn" [ngClass]="translationService.isRTL ? 'btn-dark' : 'btn-secondary'"
          (click)="translationService.changeLang('ar')">
          العربية
        </button>
      </div>

      <div *ngIf="alertData.show" class="alert alert-primary" [ngClass]="'alert-' + alertData.type" role="alert">
        {{alertData.message}}
      </div>

      <form *ngIf="!loading && !changePassword">
        <div class="form-group my-2">
          <label class="form-label">{{'ForgotPassword_Page.EMAIL' | translate}}</label>
          <input [(ngModel)]="credentials.email" name="email" type="text" class="form-control"
            placeholder="{{'ForgotPassword_Page.EMAIL_OR_USERNAME' | translate}}">
        </div>
        <div class="form-group my-2" *ngIf="afterOtpSent">
          <label class="form-label">{{'ForgotPassword_Page.ENTER_OTP_SENT_TO_YOUR_EMAIL' | translate}}
            (<small>{{'ForgotPassword_Page.CHECK_YOUR_SPAM_FOLDER' | translate}}</small>)</label>
          <code-input [isCodeHidden]="false" [codeLength]="6" (codeCompleted)="onCodeCompleted($event)">
          </code-input>
        </div>
        <div>
          <div class="row mt-3 px-3">
            <div class="form-check col-6">
              <input class="form-check-input" type="radio" [(ngModel)]="isAdmin" [value]="true" name="flexRadioDefault"
                id="flexRadioDefault1">
              <label class="form-check-label" for="flexRadioDefault1">
                {{'ForgotPassword_Page.ADMIN' | translate}}
              </label>
            </div>
            <div class="form-check col-6">
              <input class="form-check-input" type="radio" [(ngModel)]="isAdmin" [value]="false" name="flexRadioDefault"
                id="flexRadioDefault2">
              <label class="form-check-label" for="flexRadioDefault2">
                {{'ForgotPassword_Page.EMPLOYEE' | translate}}
              </label>
            </div>
          </div>
        </div>
        <hr>
        <div class="text-right d-flex m-0 justify-content-end">
          <button (click)="onSendOTP()" type="button" *ngIf="!afterOtpSent"
            class="btn btn-primary text-right">{{'ForgotPassword_Page.SEND_OTP' | translate}}</button>
        </div>
        <!-- <div class="text-right d-flex m-0 justify-content-end">
                    <button (click)="onVerifyOTP()" type="button" *ngIf="afterOtpSent"
                        class="btn btn-primary text-right">Verify</button>
                </div> -->
        <p *ngIf="disabledCondition" style="color: red;">
          {{'ForgotPassword_Page.PLEASE_WAIT_FOR' | translate}} {{reAttemptTime}}
          {{'ForgotPassword_Page.MINUTES_TO_RE_ATTEMPT' | translate}}
        </p>
      </form>
      <!-- chage password -->
      <form *ngIf="!loading && changePassword">
        <div class="form-group my-2">
          <label class="form-label">{{'ForgotPassword_Page.PASSWORD' | translate}}</label>
          <input [(ngModel)]="newPassword.password" name="password" type="password" class="form-control"
            placeholder="******">
        </div>
        <div class="form-group my-2">
          <label class="form-label">{{'ForgotPassword_Page.CONFIRM_PASSWORD' | translate}}</label>
          <input [(ngModel)]="newPassword.confirmPassword" name="password" type="password" class="form-control"
            placeholder="******">
        </div>
        <hr>
        <div class="text-right d-flex m-0 justify-content-end">
          <button (click)="onUpdatePassword()" type="button"
            class="btn btn-primary text-right">{{'ForgotPassword_Page.UPDATE' | translate}}</button>
        </div>
      </form>
      <img *ngIf="loading" width="100%" src="assets/loading-icon.gif" alt="">
    </div>
  </div>

</div>
