.my-switcher{
    margin-right: -8px !important;
}
.card {
    border-radius: 15px !important;
}
.my-loading{
    position: absolute;
    top: 271px;
    left: -17px;
    right: auto;
}
.sk-wave{
    margin: 40px auto !important;
    width: 37.5px !important;
    height: 60px !important;
    text-align: center !important;
    font-size: 35px !important;
}