<h4 class="d-flex justify-content-between align-items-center w-100 font-weight-bold py-3 mb-4">
  {{'Category_Page.CATEGORY' | translate}}
  <button type="button" class="btn btn-primary btn-round d-block" (click)="open(createModal)">
    <span class="ion ion-md-add"></span>&nbsp; {{'Category_Page.ADD_CATEGORY' | translate}}
  </button>
</h4>
<div class="card">
  <!-- Table controls -->
  <div class="card-body">
    <div class="row">
      <div class="col">
        {{'Category_Page.PER_PAGE' | translate}}: &nbsp;
        <select [(ngModel)]="perPage" (change)="update()" class="custom-select custom-select-sm d-inline-block w-auto">
          <option *ngFor="let limit of [10, 20, 30, 40, 50]">
            {{ limit }}
          </option>
        </select>
      </div>
      <div class="col">
        <input type="text" [(ngModel)]="filterVal" (input)="currentPage = 1; update()"
          class="form-control form-control-sm d-inline-block w-auto float-sm-right"
          placeholder="{{'Category_Page.SEARCH' | translate}}" />
      </div>
    </div>
  </div>
  <!-- / Table controls -->
  <!-- Table -->
  <hr class="border-light m-0" />
  <div class="table-responsive">
    <table class="table table-striped table-bordered card-table">
      <thead>
        <tr>
          <th class="text-center">#</th>
          <th class="text-nowrap cursor-pointer" (click)="setSort('title')">
            {{'Category_Page.TITLE' | translate}}<i class="ion text-muted ml-2" *ngIf="sortBy == 'title'"
              [ngClass]="'ion-md-arrow-' + (sortDesc ? 'down' : 'up')"></i>
          </th>
          <th class="text-center">{{'Category_Page.ACTIONS' | translate}}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of categoryArray;index as i">
          <td class="text-center">{{i + 1}}</td>
          <td class="align-middle py-2">{{ item?.title }}</td>
          <td class="text-nowrap align-middle p-2 text-center">
            <a href="javascript:void(0)" class="btn btn-default btn-sm icon-btn md-btn-flat text-info"
              ngbTooltip="{{'General.EDIT' | translate}}" (click)="open(editModal, item)"><i
                class="ion ion-md-create"></i></a>&nbsp;
            <a href="javascript:void(0)" class="btn btn-default btn-sm icon-btn md-btn-flat text-danger"
              ngbTooltip="{{'General.DELETE' | translate}}" (click)="categoryId=item.id;deleteDialog.show()"><i
                class="ion ion-md-trash"></i></a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <!-- / Table -->
  <!-- Pagination -->
  <div class="card-body py-0">
    <div class="row">
      <div class="col-sm text-sm-left text-center pt-3">
        <span class="text-muted" *ngIf="totalItems">{{'Category_Page.PAGE' | translate}} {{ currentPage }}
          {{'Category_Page.OF' | translate}} {{ totalPages }}</span>
      </div>
      <div class="col-sm pt-3">
        <ngb-pagination [collectionSize]="totalItems" [pageSize]="perPage" [(page)]="currentPage" [maxSize]="1"
          (pageChange)="update()" size="sm"
          class="d-flex justify-content-center justify-content-sm-end m-0"></ngb-pagination>
      </div>
    </div>
  </div>
  <!-- / Pagination -->
</div>
<swal #deleteDialog
  [options]="{type: 'warning', title:('General.ARE_YOU_SURE' | translate), customClass: translationService?.isRTL ? 'swal-rtl' : 'swal-ltr',showCancelButton:  true, confirmButtonText: ('General.DELETE' | translate), cancelButtonText: ('General.CANCEL' | translate), showCloseButton: true, confirmButtonClass: 'btn btn-lg btn-warning m-2', cancelButtonClass: 'btn btn-lg btn-default m-2'}"
  (confirm)="deleteCategory()"></swal>
<!-- Add user modal template -->
<ng-template #createModal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h5 class="modal-title">
      {{'Category_Page.CREATE_CATEGORY' | translate}} <br />
    </h5>
    <button type="button" class="close" (click)="d('Cross click')">
      &times;
    </button>
  </div>
  <div class="modal-body">
    <div class="form-row">
      <div class="form-group col">
        <label class="form-label">{{'Category_Page.TITLE' | translate}}</label>
        <input type="text" class="form-control" placeholder="{{'Category_Page.TITLE' | translate}}"
          [(ngModel)]="categoryData.title" />
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" (click)="c('Close click');">
      {{'Category_Page.CLOSE' | translate}}
    </button>
    <button type="button" class="btn btn-primary" (click)="createCategory()" [disabled]="btnLoading">
      <span class="my-btn-loader">
        {{'Category_Page.CREATE' | translate}}
        <span *ngIf="btnLoading" class="my-loader"></span>
      </span>
    </button>
  </div>
</ng-template>
<!-- /add user modal template -->
<!-- edit user modal template -->
<ng-template #editModal let-c="close" let-d="dismiss">
  <div>
    <div class="modal-header">
      <h5 class="modal-title">
        {{'Category_Page.EDIT_CATEGORY' | translate}}<br />
      </h5>
      <button type="button" class="close" (click)="d('Cross click');">
        &times;
      </button>
    </div>
    <div class="modal-body">
      <div class="form-row">
        <div class="form-group col">
          <label class="form-label">{{'Category_Page.TITLE' | translate}}</label>
          <input type="text" class="form-control" placeholder="{{'Category_Page.TITLE' | translate}}"
            [(ngModel)]="categoryData.title" />
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" (click)="c('Close click'); categoryDataClear()">
        {{'Category_Page.CLOSE' | translate}}
      </button>
      <button type="button" class="btn btn-primary" (click)="updateCategory()" [disabled]="btnLoading">
        <span class="my-btn-loader">
          {{'Category_Page.SAVE_CHANGES' | translate}}
          <span *ngIf="btnLoading" class="my-loader"></span>
        </span>
      </button>
    </div>
  </div>
</ng-template>
<!-- /edit user modal template -->