.card-blue {
    background-color:#f1f7fd;
    border: 1px solid #0E6ACA;
}
.card-green{
    background-color: #02bc77cc;
}
.card-orange{
    background-color: rgba(253, 154, 61, 0.747);
}
.card-sky-blue{
    background-color: #29c5f6;
}
.card-cost{
    background-color: #3a9bdc;
}